.footer-wrapper {
	background: $dark-grey;
	margin: $nav-height 0 $nav-height 0;

	#footer {
		text-align: center;

		.form-actions.form-wrapper {
			text-align: center;
			width: 100%;
		}

		#edit-submit {
			margin: 0 auto;
			width: 154px;
		}

		input[type="text"],
		input[type="email"],
		input[type="textarea"],
		input[tye="password"],
		input[type="search"] {
			text-align: center;
		}

		.footer-menu {
			.sf-menu {
				text-align: center;
				margin: 30px 0 0 0;
				
				li {
					float: none;
					@include inline-block;

					a {
						display: block;
						color: $white;
						text-decoration: none;
						padding: 0 10px;
						font-size: $base-font-size / 1.25;
						border-right: 1px solid $white;
						@include transition-property(all);
					  	@include transition-duration(0.25s);
					  	@include transition-timing-function(ease-in);

					  	&:hover,
					  	&:active {
					  		color: $green;	
					  	}
					}
				}

				li.last {
					a {
						border-right: none;
					}
				}
			}
		}

	}
}