#footer {
	text-align: center;

	#edit-submit {
		margin: 0 auto;
	}

	input[type="text"],
	input[type="email"],
	input[type="textarea"],
	input[tye="password"],
	input[type="search"] {
		text-align: center;
	}

}