.white {
	.block__title{
		$default-text-shadow-color: rgba(black, 1.0);
		$default-text-shadow-blur: 0px;
		$default-text-shadow-v-offset: 2px;
		@include single-text-shadow;
		color: $white;
		text-transform: uppercase;
	}
}

input[type="text"],
input[type="email"],
input[type="textarea"],
input[tye="password"],
input[type="search"] {
	height: 50px;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	$default-text-shadow-color: rgba($dark-green, 1.0);
	$default-text-shadow-blur: 0px;
	$default-text-shadow-v-offset: 2px;

	border: 0;
	display: block;
	height: auto;
	width: auto;
	padding: 15px;
	font-size: $base-font-size / 1.25;
	text-transform: uppercase;
	text-decoration: none;
	color: $white;
	background: $green;
	@include single-text-shadow;
	@include box-shadow($dark-green 0px 3px 0px);
	@include transition-property(all);
  	@include transition-duration(0.25s);
  	@include transition-timing-function(ease-in);

  	&:hover,
  	&:active {
  		$default-text-shadow-color: rgba($dark-grey, 1.0);
		background: $grey;
		@include single-text-shadow;
		@include box-shadow(black 0px 3px 0px);
  	}
}