.highlights-wrapper {

	background:$light-grey;
}

.homepage-highlight-image-wrapper {
	position: relative;
	border: 3px solid $grey;
	height: 219px;
	width: 271px;
	margin: 0 0 25px 0;

	.homepage-highlight-image {
		position: absolute;
		z-index: 2;
		@include transition-property(all);
  		@include transition-duration(0.25s);
  		@include transition-timing-function(ease-in);

		&:hover,
		&:active {
			@include opacity(0);
		}
	}

	.homepage-highlight-image-hover {
		position: absolute;
		z-index: 1;
	}
}

.homepage-highlight-row {
	@include box-sizing(border-box);
	float: left;
	width: 33.33%;
	padding: 25px;
	text-align: center;

	a {
		$default-text-shadow-color: rgba($white, 1.0);
		$default-text-shadow-blur: 0px;
		$default-text-shadow-v-offset: 2px;

		text-decoration: none;
		color: $dark-grey;
		@include single-text-shadow;
	}

	.fs1 {
		$default-text-shadow-color: rgba($dark-orange, 1.0);
		$default-text-shadow-blur: 0px;
		$default-text-shadow-v-offset: 2px;

		color: $orange;
		font-size: $base-font-size * 10;
		display: block;
		line-height: 213px;
		@include box-sizing(border-box);
		height: 225px;
		width: auto;
		background:  $white;
		border: 3px solid $grey;
		padding: 10px;
		@include single-text-shadow;
		@include transition-property(all);
  		@include transition-duration(0.25s);
  		@include transition-timing-function(ease-in);

  		&:hover,
  		&:active {
  			$default-text-shadow-color: rgba($dark-grey, 1.0);
			$default-text-shadow-blur: 0px;
			$default-text-shadow-v-offset: 2px;
  			color: $grey;
  			@include single-text-shadow;
  		}

	}

	.homepage-highlight-title {
		text-transform: uppercase;
		font-weight: bold;
	}
}

.lt-ie8 {
	.homepage-highlight-row {
		width: 28%;
	}
}