.banner-wrapper {
	margin-bottom: 0;
	background: url(../images/homepage-banner.jpg) no-repeat top center;
	@include background-size(cover); 
	height: 219px;

}

.lt-ie9 {
	.banner-wrapper {
		background: url(../images/homepage-banner-ie.jpg) no-repeat top center; 
	}	
}

$default-text-shadow-color: rgba(black, 0.6);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 2px;

.banner-text {

	p {
		display: block;
		position: relative;
		float: left;
		margin: 50px 0 0 0;
		background: $green;
		background: rgba($green, 0.75);
		text-transform: uppercase;
		padding: 15px 15px;
		color: $white;
		font-size: $base-font-size * 2;
		@include single-text-shadow;

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 9999px;
			height: 100%;
			left: -9999px;
			top: 0;
			background: $green;
			background: rgba($green, 0.75);
		}
	}
}

.lt-ie9 {
	.banner-text {
		p {
			color: $dark-green;
		}
	}
}

.lt-ie8 {
	.banner-text {
		p {
			color: $dark-green;
			float: none;
		}
	}
}


$default-text-shadow-color: rgba($dark-green, 1.0);
$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: 2px;

.banner-text-wrapper {

	a {
		display: block;
		float: left;
		clear: both;
		height: auto;
		width: auto;
		padding: 15px;
		margin: 100px 0 25px 0;
		font-size: $base-font-size / 1.25;
		text-transform: uppercase;
		text-decoration: none;
		color: $white;
		background: $green;
		@include single-text-shadow;
		@include box-shadow($dark-green 0px 3px 0px);
		@include transition-property(all);
  		@include transition-duration(0.25s);
  		@include transition-timing-function(ease-in);

		&:hover,
		&:active {
			$default-text-shadow-color: rgba($dark-grey, 1.0);
			background: $grey;
			@include single-text-shadow;
			@include box-shadow($dark-grey 0px 3px 0px);
		}

	}

}

.lt-ie8 {
	.banner-text-wrapper {
		a {
			float: none;
		}
	}
}