.not-front {
	.banner-wrapper {
		margin-bottom: 0;
		background: url(../images/homepage-banner.jpg) no-repeat center center; 
		height: 219px;
	}
}

.not-front.page-node-238 {
	.banner-wrapper {
		margin-bottom: 0;
		background: url(../images/interior-banner.jpg) no-repeat center center; 
		height: 219px;
	}
}