.not-front {
	.banner-wrapper {
		margin-bottom: 0;
		background: url(../images/homepage-banner.jpg) no-repeat center center; 
		@include background-size(cover);
		height: 219px;
	}
}

.not-front.page-node-238 {
	.banner-wrapper {
		margin-bottom: 0;
		background: url(../images/interior-banner.jpg) no-repeat center center; 
		@include background-size(cover);
		height: 219px;
	}
}

.lt-ie9 {
	.not-front {
		.banner-wrapper {
			background: url(../images/homepage-banner-ie.jpg) no-repeat center center; 
		}
	}

	.not-front.page-node-238 {
		.banner-wrapper {
			background: url(../images/interior-banner-ie.jpg) no-repeat center center; 
		}
	}	
}