.header-wrapper {
	background: $orange;

	.header__region {
		clear: none;
		float: right;
		text-align: right;
		margin: 25px 0 0 50px;

		.sf-main-menu {
			li {
				a {
					$default-text-shadow-color: rgba($dark-orange, 1.0);
					$default-text-shadow-blur: 0px;
					$default-text-shadow-v-offset: 2px;
					color: $white;
					text-decoration: none;
					margin: 0 10px;
					@include single-text-shadow;
					@include transition-property(all);
				  	@include transition-duration(0.25s);
				  	@include transition-timing-function(ease-in);

				  	&:hover,
				  	&:active {
				  		$default-text-shadow-color: rgba($dark-grey, 1.0);
				  		color: $grey;
						@include single-text-shadow;
				  	}
				}
			}
			li.last {
				a {
					margin: 0 0 0 10px;
				}
			}
		}
	}
}