.sponsors-wrapper {
	background: $grey;
	margin-top: -24px;

	.sponsors,
	.sponsor-row {
		text-align: center;

		img {
			filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
		    filter: gray; /* IE6-9 */
		    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
		    @include transition-property(all);
	  		@include transition-duration(0.25s);
	  		@include transition-timing-function(ease-in);

		    &:hover,
		    &:active {
		    	filter: none;
    			-webkit-filter: grayscale(0);
		    }
		}
	}

	.sponsors-block {
		table{
			width: 980px;
		}
	}

}
