.sponsors-wrapper {
	background: $grey;
	margin-top: -24px;

	.sponsors-block {
		table{
			width: 980px;
		}

		h2 {
			text-align: center;
		}
	}

	.sponsor-wrapper {
		display: block;
		position: relative;

		.logo {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;

			@include transition-property(all);
	  		@include transition-duration(0.25s);
	  		@include transition-timing-function(ease-in);

			&:hover,
			&:active {
				@include opacity(0);
			}
		}

		.logo-hover {
			position: relative;
			z-index: 1;
			top: 0;
			left: 0;
		}
	}

}
